@model Covoiturage.Models.POCO.Voiture
@using Covoiturage.Models.POCO;
@{
    ViewBag.Title = "EditVoiture";
}

<h2>Modification Voiture</h2>
@using (Html.BeginForm("EditVoiture", "Conducteur", FormMethod.Post))
{
    Voiture car = Session["DriversCar"] as Voiture;

    @Html.LabelFor(x => x.Modele);
    @Html.TextBoxFor(x => x.Modele, new { Required = "Required", Value = car.Modele });<br />
    @Html.LabelFor(x => x.Plaque);
    @Html.TextBoxFor(x => x.Plaque, new { Required = "Required", Value = car.Plaque });<br />
    @Html.LabelFor(x => x.PlacesDisponible);
    <input type="number" name="PlacesDisponible" value="@car.PlacesDisponible" required="required"/><br/>
    <input type="submit" value="Modifier"/>  <input type="submit" value="Supprimer" formaction="~/Conducteur/RemoveVoiture"><br/>
}
<form><input type="submit" value="Retour"/></form>
