@using Covoiturage.Models.POCO;
@{
    ViewBag.Title = "ListeTrajet";
}

<h2>Liste de trajet proposé par @ViewBag.Driver</h2>
@{ 
    if(ViewBag.TrajetsConducteur != null && ViewBag.TrajetsConducteur is List<Trajet>)
    {
        foreach (Trajet t in ViewBag.TrajetsConducteur)
        {
            <p>Départ: @t.VilleDepart | Arrivée : @t.VilleTerminus | Date : @t.DateVoyage | Place(s) restante(s) : @t.PlaceRestante <a href="~/Conducteur/EditTrajet?Id=@t.Id">Modifier</a></p>
        }
    }
    else
    {
        <p>Vous ne proposez aucun trajet pour le moment</p>
    }
}

<form action="~/Conducteur/AddTrajet">
    <input type="submit" value="Ajouter Trajet"/>
    <input type="submit" value="Retour" formaction="~/Conducteur/Index"/>
</form>


