@model Covoiturage.Models.POCO.Utilisateur
@{

}

<h2>Connexion</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <label>Nom utilisateur : </label>
    @Html.TextBoxFor(x => x.Login, new { Required = "Required" });<br/>
    <label> Mot de passe : </label>
    @Html.PasswordFor(x => x.Password, new { Required = "Required" });<br/>
    <label>Passager</label>
    @Html.RadioButton("type", "user", new { Required = "Required" });
    <label>Conducteur</label>
    @Html.RadioButton("type", "driver", new { Required = "Required" });
    <label>Admin</label>
    @Html.RadioButton("type", "admin", new { Required = "Required" });
    <input type="submit" name="Login" value="Login" />
}


<p>@ViewBag.logged</p>