@model Covoiturage.Models.POCO.Utilisateur
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    @Html.LabelFor(x => x.Nom);
    @Html.TextBoxFor(x => x.Nom, new { Required = "Required" });
    @Html.LabelFor(x => x.Prenom);
    @Html.TextBoxFor(x => x.Prenom, new { Required = "Required" });
    @Html.LabelFor(x => x.Login);
    @Html.TextBoxFor(x => x.Login, new { Required = "Required" });
    @Html.LabelFor(x => x.Mail);
    <input type="email" name="mail" required="required" value="" />
    @Html.LabelFor(x => x.Password);
    @Html.PasswordFor(x => x.Password, new { Required = "Required" });
    <label>Utilisateur</label>
    @Html.RadioButton("type", "user", new { Required = "Required" });
    <label>Conducteur</label>
    @Html.RadioButton("type", "driver", new { Required = "Required" });

    <input type="submit" name="Register" value="Register" />
}
